@font-face {
	font-family: 'Areal';
	src: url('./fonts/areal.woff2');
}

@font-face {
	font-family: 'hermit';
	src: url('./fonts/Hermit-Light.otf');
}

*::-webkit-scrollbar {
  display: none;
}


:root {
	--green-one: #dfffb9;
	--green-two: #b4e6a6;
	--green-three: #3f7542;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'hermit';
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
	transition: all 50ms;
}

.main.container{
	display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding-left: 3em;
  /* align-items: center; */
}

button {
	all: unset;
	background: var(--green-one);
	color: var(--green-three);
	padding: .4em;
	border: 1px solid var(--green-three);
}

button:hover {
	cursor: pointer;
	color: var(--green-one);
	background: var(--green-three)
}

.container {
	width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.popup {
	position: fixed;
	top: 2vh;
	height: 20vh;

	right: 5vw;
	width: 25vw;
	z-index: 99;
	background: #ddd;
	padding: 1em;
}

.auth-popup {
	position: fixed;
	top: 2vh;
	height: 20vh;

	right: 5vw;
	width: 25vw;
	z-index: 99;
	background: #ddd;
	padding: 1em;
}

.ui {
	position: fixed;
  top: 2vh;
  height: 90vh;
  box-shadow: 0 0 45px 1px #ff09;
  right: .2vw;
  width: 25vw;
  z-index: 99;
  background: #b4e6a6a1;
  padding: 1em;
  overflow-y: scroll;
}

.ui[closed='true']{
	right: -22vw
}

.ui[closed='true']:hover{
	right: 0vw
}

.ui .smol {
	width: 80%;
}

.top-right {
	position: absolute;
	right: 1em;
	top: 1em;
}

.arena-ui {
  position: fixed;
	bottom: 2vh;
	height: 90vh;
	right: 2vw;
  width: 25vw;
	transition: 300ms all;
	z-index: 99;
	background: #fffd;
	padding: 1em;
	overflow-y: scroll;
}

.arena-ui[closed='true']{
	bottom: -80vh
}

/* .arena-ui[closed='true']:hover{ */
/* 	bottom: 0vw */
/* } */


.bar {
  position: fixed;
	bottom: 1vh;
	height: 50px;
	left: 10vw;
  width: 80vw;
	z-index: 99;
	padding: .1em;
}

.actions > * {
	margin-right: .3em;
}

.box {
	padding: .4em;
	margin: 1em 0;
	color: var(--green-three);
	background: var(--green-one);
}

.box[collapsed='true']{
	margin-bottom: 1em;
}

.box[collapsed='true'] > .property{
	display: none;
}

.property {
border-top: 2px dotted #00f2;
  padding: .4em 0;
  font-family: 'Areal';
  font-variation-settings: "MONO" 99.3827;
  margin: .3em;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: .6em;
  margin-bottom: 1em;
}


.property[activated="true"] {
	background: yellow;
}

.key {
display: inline-block;
  font-family: 'Areal';
  font-variation-settings: "MONO" 99.3827;
  min-width: 50px;
	border-top: 5px solid yellow;
}

.unit {
	background: #4444;
	font-family: 'Areal';
	font-variation-settings: "MONO" 99.3827;
}


input {
	all: unset;
	background: var(--green-two);
	padding: .1em;
	width: 150px;
	margin-left: .2em;
}

textarea {
	background: var(--green-two);
	padding: .1em;
	outline: none;
	border: none;
	font-family: 'Areal';
	color: var(--green-three);
}

.dimensions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dimensions .property .key {
	min-width: 10px;
}

.dimensions .property input {
	width: 50px;
}


.block {
	width: 90%;
  max-height: 50vh;
  border-top: 1px solid #2222;
  margin: 1em;
  padding: 2em;
  overflow-y: scroll;
  background: #f9d5ec;
}

.block.found {
	opacity: .5;
	/* pointer-events: none; */
}

.block img{
	width: 100%;
}

.notification {
	z-index: 129;
	width: 25vw;
	background: var(--green-one);
	padding: 1em;
	min-height: 4em;
	border: 2px solid var(--green-three);
}
						
